static/src/pug/pages/pass2.pug
extends ../layout/main
include ../components/footer

block variables
    - title = 'title';
    - pageClass = 'sign-page',
    - login = false,
    - noenterLink = 'signup.html',
    - noenterText = 'Sign up',

block head

block header
    +header()

block content
    .sign-page__wrapper
        .sign-page__inner.text-center
            .sign-page__pass-img
                img(src=imgPath('decor/key.png'))
            .sign-page__title.sign-page__title_smaller Check your email
            label.form-group.mb-0
                a.form-group__btn(href="/")
                    | Back to homepage

static/dist/pass2.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="telephone=no" name="format-detection">
    <meta name="HandheldFriendly" content="true">
    <title>title</title>
    <meta name="description" content="Description">
    <link rel="stylesheet" href="assets/css/app.css">
  </head>
  <body class="body sign-page">
    <div class="layout">
      <div class="layout__header">
        <!--BEGIN header-->
        <header class="header">
          <div class="container header-container header-container_noenter">
            <picture class="logo">
              <source srcset="assets/img/logos/logo.svg" media="(min-width: 960px)"><img src="assets/img/logos/logo_mob.svg" alt="">
            </picture><a class="header__sign simple-link" href="signup.html">Sign up</a>
          </div>
        </header>
        <!--END header-->
      </div>
      <main class="layout__main">
        <div class="sign-page__wrapper">
          <div class="sign-page__inner text-center">
            <div class="sign-page__pass-img"><img src="assets/img/decor/key.png"></div>
            <div class="sign-page__title sign-page__title_smaller">Check your email</div>
            <label class="form-group mb-0"><a class="form-group__btn" href="/">Back to homepage</a></label>
          </div>
        </div>
      </main>
    </div>
    <script type="text/javascript" src="assets/js/vendors.js"></script>
    <script type="text/javascript" src="assets/js/app.js"></script>
  </body>
</html>
